RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Increase upload file size limit to 5MB
php_value upload_max_filesize 5M
php_value post_max_size 5M